.footer {
  box-shadow: var(--shadow-footer);
  padding: 2rem 1rem;
}

.footer__container {
  max-width: var(--max-width);
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.footer__nav {
  width: 100%;
}

.footer__list {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer__item {
  font-size: 0.95rem;
}

.footer__logo {
  margin-left: 10px;
}

.footer__logo--github {
  width: 27px;
}

.footer__logo--rss {
  width: 70px;
}

@media (max-width: 690px) {
  .footer__list {
    justify-content: center;
    gap: 10%;
  }

  .footer__note {
    display: none;
  }
}
