.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header__nav {
  max-width: 1200px;
  margin: auto;
  padding: 2.5rem 1.5rem 1.5rem;
}

.header__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.header__link {
  font-size: 1rem;
}
