.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-dark);
  border-radius: var(--radius-lg);
  padding: 2rem 1rem;
  text-align: center;
  flex: 1 0 250px;
  box-shadow: var(--shadow-lg);
}
