html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #d5d5d5;
  background: #222;
}

a {
  color: #acbfe3;
  text-decoration: none;

  &:hover {
    text-shadow: 0 0 10px #8d8d8d;
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  color: #dbdbdb; /* HSL L86 */
}

h2 {
  font-family: 'Nunito', 'Roboto', sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 500;
  text-align: center;
  color: #b8b8b8; /* HSL L72 */
  margin-bottom: 2.5rem;
}

h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 400;
  text-align: center;
  color: #9e9e9e; /* HSL L62 */
  margin-bottom: 2rem;
}

.text--highlight {
  color: #c2b990;
}

.text--underline {
  text-decoration-line: underline;
  color: #acbfe3;
}
